/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* STRUCTURE */

.container{
  width: 77%;
  margin: 30px auto;
  text-align: center;
}

.container .product{
  width: 33%;
  display: inline-block;
  padding: 7.5px;
  text-align: left;
  position: relative;
}

/* IMAGE & HOVER */

.thumbnail{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.product .thumbnail img{
  width: 100%;
}

.product img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.product:hover img:nth-child(2){
  display: block;
}

/* LABELS */

.heart::before{
  content: '\2665';
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 10px 15px;
  background-color: white;
}

/* TEXT */

.product p{
  font-size: 15px;
}

.product p:last-of-type{
  margin-bottom: 30px;
}

.product h4{
  text-transform: uppercase;
}

.price::after{
  content: ' \20AC';
}

.product p .price.current{
  color: red;
  font-weight: bold;
}

.product p .price.old{
  text-decoration: line-through;
}

